.logo {
  margin-top: 5%;
}

.footer {
  margin-top: 5%;
  display: flex;
  align-items: center;
}
.footerTip{
  color: gray;
  padding-left: 8px;
  font-size: 14px;
}
.loginBox {
  width: 30%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;

}
.loginButtonBox{
  width: 10%;
  margin-top: 5%;
  height: 50px;
  
}
.loginButton {
  background-color: #36304A;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  color: white;
  font-weight: bold;
}
.inputBox {
  background-color: #EFEFEF;
  height: 56px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding-left: 5%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 850px) {
  .loginBox {
    width: 70%;
    margin-top: 10%;
  }
  .loginButtonBox{
    width: 30%;
    margin-top: 5%;
    height: 40px;
    margin-top: 15%;
  }
  .loginButton{
    font-size: 16px;
    font-weight: bold;
  }
  .App{
    margin-top: 30%;
  }
}


