.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  margin-top: 5%;
}

#basic{
  /* max-width: 600px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:5% ;
  width: 400px;
}
.loginButton{
  margin-top: 25%;
  font-size: 18px;
  width: 100px;
  height: 40px;
  border-radius:30px
}
.formItem{
  margin-bottom: 30px;
}
@media screen and (max-width: 850px) {
  .logo{
    margin-top: 20%;
  }
  #basic{
    width: 60%;
    margin-top: 10%;
  }
  .loginButton{
    font-size: 16px;
    width: 80px;
    height: 40px;
    border-radius:20px
  }
}


