.home {
  font-family: sans-serif;
  text-align: center;
  width: 90%;
  margin-left: 5%;
  padding-top: 40px;
}

.shallow,
tr.ant-table-row.ant-table-row-level-0.shallow td.ant-table-cell.dark.ant-table-column-sort.ant-table-cell-fix-left,
tr.ant-table-row.ant-table-row-level-0.shallow td.ant-table-cell.dark.ant-table-column-sort {
  background-color: white !important;
}

.ant-table-filter-trigger {
  margin: 0 !important;
}

:where(.css-dev-only-do-not-override-htwhyh).ant-table-wrapper .ant-table-tbody>tr>th,
:where(.css-dev-only-do-not-override-htwhyh).ant-table-wrapper .ant-table-tbody>tr>td {
  border-bottom: 0;
}

.ant-table-thead>tr>th.dark {
  color: white !important;
  background: #36304A !important;
}

th.ant-table-cell.light::before,
th.ant-table-cell.dark::before {
  width: 0px !important;
}

.ant-table-column-sorter-inner,
.anticon.anticon-filter {
  color: white !important;
}

tr.ant-table-row.ant-table-row-level-0.shallow td.ant-table-cell.dark.ant-table-cell-fix-left.ant-table-cell-row-hover,
tr.ant-table-row.ant-table-row-level-0.shallow td.ant-table-cell.dark.ant-table-cell-row-hover {
  background-color: white !important;
}

::-webkit-scrollbar{
  width:10px;
  height:10px;
}
::-webkit-scrollbar-track{
  background: rgb(239, 239, 239);
  border-radius:2px;
}
::-webkit-scrollbar-thumb{
  background: #e2e2e2;
  border-radius:10px;
}
::-webkit-scrollbar-thumb:hover{
  background: #bfbfbf;
}

.deep,
tr.ant-table-row.ant-table-row-level-0.deep td.ant-table-cell.dark.ant-table-cell-fix-left,
tr.ant-table-row.ant-table-row-level-0.deep td.ant-table-cell.dark.ant-table-cell-row-hover,
tr.ant-table-row.ant-table-row-level-0.deep td.ant-table-cell.dark.ant-table-cell-fix-right.ant-table-cell-fix-right-first,
tr.ant-table-row.ant-table-row-level-0.deep td.ant-table-cell.dark.ant-table-column-sort {
  background-color: rgb(245, 245, 245) !important;
}

.ant-table {
  box-shadow: 0px 2px 4px #F8F8F8;
}

.addBtn {
  margin-bottom: 20px;
}

.logout {
  position: absolute;
  top: 44px;
  right: 5%;
}